{% extends 'mysite/base.html' %}
{% load static getImageBanner %}

{% block title %}Help{% endblock %}

{% block content %}

<!--Page Title-->
<section class="page-banner">
    {% if request.user|getImageBanner %}
    <div class="image-layer" style="background-image:url('/media/{{ request.user|getImageBanner }}');"></div>

{% else %}
<div class="image-layer" style="background-image:url('{% static 'mysite/images/background/banner-image-5.jpg' %}');"></div>
{% endif %}
    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Help</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home_page' %}">Home</a></li>
                        <li class="active">Help</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contact Section-->
<section class="contact-section">
    <div class="auto-container">
            
        <center>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title with-separator">
                        <h2>We’re Here to Help You</h2>
                        <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>
                        <div class="lower-text">Send us a message if you have any question, we’re here to help!.</div>
                    </div>
                    
                    <div class="default-form form-box">
                        <form method="POST" action="{% url 'Help' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <div class="field-inner">
                                    <input type="email" name="email" placeholder="Email" required="" value="" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="field-inner">
                                    <select name="issue" id="" class="custom-select-box">
                                        <option value="">Please Select Issue</option>
                                        <option value="">Technical Assistance</option>
                                        <option value="">Account Creation</option>
                                        <option value="">Startin a Petition</option>
                                        <option value="">Starting a Commendation</option>
                                        <option value="">Respond to Petition/Commendation</option>
                                        <option value="">Others</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="field-inner">
                                    <input type="tel" name="phone" placeholder="Telephone (Optional)" autocomplete="off">
                                    <span style="font-size:smaller;">please include country code eg. +11234567890</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="field-inner">
                                    <textarea name="message" placeholder="Problem Details" required="" autocomplete="off"></textarea>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Send Message</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </center>

    </div>
</section>


{% endblock %}