{% extends "mysite/base.html" %}
{% load static %}
{% block title %}Password Reset Done{% endblock %}
{% block content %}




<link href="{% static 'mysite/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'mysite/css/common.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
<link href="{% static 'mysite/css/theme-02.css' %}" rel="stylesheet">
<div class="forny-container">
    
    <div class="forny-inner">
        
        <div class="forny-form  mb-5 mt-5">
            <div class="mb-6 text-center forny-logo">
                <a href="/"><img src="{% static 'mysite/images/voice1.png' %}"></a>
            </div>
            <div class="text-center">
                <h4>Password Reset Complete</h4>
                <p class="">Your password has been set.  You may go ahead and log in now.</p>
            </div>
            <div class="text-center">
              <a href="{% url 'login_user_url' %}">Login</a>
          </div>
        </div>
    </div>

</div>

<script src="{% static 'mysite/js/jquery.min.js' %}"></script>
<script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mysite/js/main.js' %}"></script>
<script src="{% static 'mysite/js/demo.js' %}"></script>

{% endblock content %}