{% extends "mysite/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<link href="{% static 'mysite/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'mysite/css/common.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
<link href="{% static 'mysite/css/theme-02.css' %}" rel="stylesheet">
<div class="forny-container">
    <div class="forny-inner">
        <div class="forny-form" style="width:30rem;">
            <div class="mb-6 text-center forny-logo">
                <a href="/"><img src="{% static 'mysite/images/voice1.png' %}"></a>
            </div>
            <div class="text-center">
                <h4>Password Reset</h4>
            </div>
            <p class="card-text">
                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
            </p>
            <div>
                <a href="https://mail.google.com/" class="btn btn-primary btn-block text-white">Continue to Gmail</a>
            </div>
            <div>
                <a href="{% url 'login_user_url' %}" class="btn btn-primary btn-block text-white mt-3">Back to Login</a>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'mysite/js/jquery.min.js' %}"></script>
<script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mysite/js/main.js' %}"></script>
<script src="{% static 'mysite/js/demo.js' %}"></script>

{% endblock content %}