{% extends "mysite/base.html" %}
{% load static %}
{% block title %}Email Verification{% endblock %}
{% block content %}
<div class="alert alert-info">
  <strong>
    <h1>Email Verification</h1>
  </strong>
  <p>Please confirm your email address to complete the registration. </p>
  <div>
    <a class="btn btn-primary btn-block mt-2 text-white" href="https://www.google.com/gmail/" type="button">Gmail</a>
</div>
<div>
    <a class="btn btn-primary btn-block mt-2 text-white" href="{% url 'login_user_url' %}" type="button">Login</a>
</div>
</div>

{% endblock content %}