{% extends 'mysite/dashboard_base.html' %}
{% load static %}
{% load FindResponseTrue %}
{% load FindResponseDate %}
{% load FindResponse %}
{% load FindResponseTrueID %}
{% block title %}
    {% if my_petition_view %}
        Voice It Out - User Petitions
    {% elif create_petition_section %}
        Voice It Out - Create Petition
    {% elif global_admin_section_petitions %}
    Voice It Out - Petition Responses

    {% elif specific_petition_view %}
        {{ title }}
    {% else %}
        Voice It Out - User Dashboard
    {% endif %}
    {% endblock %}

{% block content %}


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-eye icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>
                        {% if global_admin_section_petitions %}
                            Petition Responses

                            <br>
                            <span>
                            Total Submitted Responses: {% with total=petitions.count %}
                            <button  class="btn-pill btn-shadow btn-shine btn btn-focus btn-primary" >{{ total }} Reponse{{ total|pluralize }}</button>
                            {% endwith %}
                            </span>

                        {% else %}
                            Petitions
                        {% endif %}

                        {% if specific_petition_view %}
                            {{ title  }}'s Response
                            <br>
                            <button  class="btn-pill btn-shadow btn-shine btn btn-focus btn-primary" >{{ petitions.count }} Reponse{{ petitions.count|pluralize }}</button>
                       {% endif %}
                    </div>
                    
                </div>
                <div class="page-title-actions">

                    <div class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa fa-eye"></i>
                            </span>
                            Buttons
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true"
                            class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Self-Petitions' %}">
                                        <i class="nav-link-icon fa fa-eye"></i>
                                        <span>
                                            My Petitions
                                        </span>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Start-a-Petition' %}">
                                        <i class="nav-link-icon fa fa-plus-circle"></i>
                                        <span>
                                            Create Petition
                                        </span>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-animation">


            <div class="card mb-3">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                            class="header-icon fa fa-laptop mr-3 text-muted opacity-6"> </i>
                            {% if specific_petition_view %}
                            {{ title }}'s Petition All  Responses
                            {% else %}
                            All Petition
                            {% endif %}
                    </div>

                </div>
                <div class="card-body">
                    
            {% if messages  %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
                    <table style="width: 100%;" id="example"
                        class="table table-hover table-striped table-bordered">
                        {% if global_admin_section_petitions or specific_petition_view  %}
                            <thead>
                                <tr>
                                    <th>Petition User</th>
                                    <th>Petition Title</th>
                                    <th>Petition Coverage Admin</th>
                                    <th>Petition Feedback</th>
                                    <th>Petition Response</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for petition in petitions %}
                                    <tr>
                                        <td>{{ petition.user }}</td>
                                        <td>
                                            <a  href="{% url 'SpecificViewPetition_URL' petition.petition.id %}" class="btn-pill btn-shadow btn-shine btn btn-focus" title="View Complete Petition" {% if specific_petition_view  %} data-toggle="modal" data-target="#exampleModal_{{ obj.id }}_{{ obj.timestamp|slugify }}_details_petition" {% endif %}>
                                                {{ petition.petition }}
                                            </a>
                                        </td>
                                        <td>{{ petition.Coverage_Admin }}</td>
                                        <td>{{ petition.Feedback|safe|escape|truncatechars_html:"50" }}</td>
                                        <td><button  class="btn-pill btn-shadow btn-shine btn btn-focus" data-toggle="modal" data-target="#exampleModal_{{ petition.id }}_{{ petition.timestamp|slugify }}_response" title="View Petition Response" >{{ petition.response }}</button></td>
                                            
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <thead>
                                <tr>
                                    <th>Petition Coverage</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Petition Attendant</th>
                                    <th>Description</th>
                                    {% if all_petitions_section %}
                                        
                                        <th>Response</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for petition in petitions %}
                                    <tr>
                                        <td>{{ petition.Petition_Coverage }}</td>
                                        <td>
                                            <a href="{% url 'Petition_Details' petition.id %}" class="btn-pill btn-shadow btn-shine btn btn-focus" title="View Petition Details">{{ petition.Petition_Title }}</a>
                                        </td>
                                        <td>{{ petition.Petition_Category }}</td>
                                        <td>{{ petition.Action_Person }}</td>
                                        <td>{{ petition.Expalnation|truncatechars_html:"50"|safe }}</td>
                                        {% if all_petitions_section %}
                                                {% if not request.user.id|FindResponseTrue:petition.id  %}
                                                    {% if  petition.id|FindResponseDate %}
                                                        <td><button  class="btn-pill btn-shadow btn-shine btn btn-focus" data-toggle="modal" data-target="#exampleModal{{ petition.Petition_Title|slugify  }}{{ petition.id }}">Response</button></td>
                                                    {% else %}
                                                        <td><button  class="btn-pill btn-shadow btn-shine btn btn-focus" >Time's Up</button></td>
                                                    {% endif %}
                                                {% else %}    
                                                    {% if request.user.id|FindResponse:petition.id == "True" %}
                                                        {% if request.user.id|FindResponseTrueID:petition.id %}
                                                                <td><a  href="{% url 'ViewSpecificPetitionResponse_URL' request.user.id|FindResponseTrueID:petition.id  %}" class="btn-pill btn-shadow btn-shine btn btn-focus" >Yes</a></td>
                                                        {% else %}
                                                            <td><button  class="btn-pill btn-shadow btn-shine btn btn-focus" data-toggle="modal"  data-toggle="modal" data-target="#exampleModal_{{ petition.id }}_{{ petition.timestamp|slugify }}_response"  >Yes</button></td>
                                                        {% endif %}       
                                                    {% else %}
                                                        {% if request.user.id|FindResponseTrueID:petition.id %}
                                                                <td><a  href="{% url 'ViewSpecificPetitionResponse_URL' request.user.id|FindResponseTrueID:petition.id  %}" class="btn-pill btn-shadow btn-shine btn btn-focus"  >No</a></td>
                                                        {% else %}
                                                            <td><button  class="btn-pill btn-shadow btn-shine btn btn-focus" data-toggle="modal"  data-toggle="modal" data-target="#exampleModal_{{ petition.id }}_{{ petition.timestamp|slugify }}_response"  >No</button></td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>


        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">

        </div>
    </div>
</div>


{% endblock %}
