{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>
        {% if create_petition_section %}
            Voice It Out - Create Petition
        {% elif create_commendation_section %}
            Voice It Out - Create Commendation
        {% else %}
            Voice It Out - User Dashboard
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" href="{% static 'mysite/images/ndm.png' %}" type="image/x-icon">

    <link href="{% static 'mysite/css/main.css' %}" rel="stylesheet">
    
    
    <script src="https://use.fontawesome.com/5c63f75774.js"></script>

</head>