{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Voice It Out{% endblock %}

{% block content %}

        <!--Welcome Section-->
        <section class="welcome-section">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>What are The Today Activities of City Govt of London </h2>
                    <div class="lower-text">We denounce with righteous indignation and dislike men who are so beguiled &
                        demoralized.</div>
                </div>
                
                <div class="row clearfix">
                    <!--Feature Block-->
                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><span class="flaticon-parking"></span></div>
                                <div class="content">
                                    <div class="subtitle">In Effect</div>
                                    <h4><a href="#">Alternate side parking in effect.</a></h4>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="image-layer"
                                    style="background-image: url({% static 'mysite/images/background/featured-image-1.jpg' %});">
                                </div>
                                <div class="inner">
                                    <h4><a href="#">Alternate side parking in effect.</a></h4>
                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>
                                </div>
                            </div>
                            <div class="more-link">
                                <a href="#"><span class="flaticon-right-2"></span></a>
                            </div>
                        </div>
                    </div>

                    <!--Feature Block-->
                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><span class="flaticon-recycling-truck"></span></div>
                                <div class="content">
                                    <div class="subtitle">Schedule</div>
                                    <h4><a href="#">Garbage & recycling on schedule.</a></h4>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="image-layer"
                                    style="background-image: url({% static 'mysite/images/background/featured-image-1.jpg' %});">
                                </div>
                                <div class="inner">
                                    <h4><a href="#">Garbage & recycling on schedule.</a></h4>
                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>
                                </div>
                            </div>
                            <div class="more-link">
                                <a href="#"><span class="flaticon-right-2"></span></a>
                            </div>
                        </div>
                    </div>

                    <!--Feature Block-->
                    <div class="featured-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><span class="flaticon-school"></span></div>
                                <div class="content">
                                    <div class="subtitle">Schools</div>
                                    <h4><a href="#">All public schools are open.</a></h4>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="image-layer"
                                    style="background-image: url({% static 'mysite/images/background/featured-image-1.jpg' %});">
                                </div>
                                <div class="inner">
                                    <h4><a href="#">All public schools are open.</a></h4>
                                    <div class="text">These cases are perfectly simple and easy work to distinguish.
                                    </div>
                                </div>
                            </div>
                            <div class="more-link">
                                <a href="#"><span class="flaticon-right-2"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Welcome Section -->

        <!--About Section-->
        <section class="about-section">
            <div class="image-layer" style="background-image: url({% static 'mysite/images/background/image-1.jpg' %});"></div>
            <div class="pattern-layer" style="background-image: url({% static 'mysite/images/background/pattern-1.png' %});">
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="content">
                        <div class="sec-title light">
                            <h2>The Major Voice of <br>City Government, London</h2>
                        </div>
                        <div class="upper-text clearfix"><span class="big-letter">M</span>ayor of london the obligations
                            business will frequently occur that all pleasures have to be repudiated annoyances accepted
                            wise man therefore always holds.</div>
                        <div class="text">Beguiled and demoralized by the charms of pleasure of the moment, so blinded
                            by desire, that they cannot foresee.</div>
                        <div class="signature"><img src="{% static 'mysite/images/resource/signature.png' %}" alt=""></div>
                        <div class="info">
                            <div class="name">Brendon Garrey</div>
                            <div class="designation">London city mayor</div>
                        </div>
                    </div>

                    <!--Quote-->
                    <div class="quote-box">
                        <div class="round-point">+</div>
                        <div class="inner">
                            <div class="icon-one"><span class="flaticon-left-quote"></span></div>
                            <div class="icon-two"><span class="flaticon-left-quote"></span></div>
                            <div class="text">My highest priority is keeping Londoners safe from harm.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Services Section-->
        <!-- End Services Section -->


        <!--Events Section-->
        <!-- End Events Section -->


        <!--Services Section (2) -->
        <!--End Services Section (2) -->

        <!--Team Section-->
        <!-- End Team Section -->

        <!--News Section-->
        <!-- End News Section -->

        <!--Contact Info Section-->
        <section class="contact-info-section">
            <div class="image-layer" style="background-image: url({% static 'mysite/images/background/image-5.jpg' %});"></div>
            <div class="auto-container">
                <div class="sec-title with-separator centered">
                    <h2>Suggestion and Complaints</h2>
                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>
                    <div class="lower-text">Denounce with righteous indignation and dislike men who are so beguiled &
                        demoralized our power of choice.</div>
                </div>
                <div class="info-outer clearfix">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="inner">
                            <div class="icon"><span class="flaticon-password"></span></div>
                            <strong>Call on</strong>
                            <div class="info"><a href="tel:+4488812345">+44 888 12 345</a></div>
                        </div>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="inner">
                            <div class="icon"><span class="flaticon-contact"></span></div>
                            <strong>Mail at</strong>
                            <div class="info"><a href="mailto:Mail@mygovt.com">Mail@mygovt.com</a></div>
                        </div>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="inner">
                            <div class="icon"><span class="flaticon-circular-clock"></span></div>
                            <strong>Off hrs</strong>
                            <div class="info">10am to 6pm</div>
                        </div>
                    </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="inner">
                            <div class="icon"><span class="flaticon-checklist"></span></div>
                            <strong>LN 311</strong>
                            <div class="info">Non Emergency</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--Testimonials Section-->
        <!-- End Testimonials Section -->

        <!--Facts Section-->
        <!-- End Facts Section -->


{% endblock %}