{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Voice It Out{% endblock %}

{% block content %}

    <!--Page Title-->
    <section class="page-banner">
        <div class="image-layer" style="background-image:url({% static '/images/background/banner-image-5.jpg' %});"></div>

        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Petitions</h1>
                    <div class="page-nav">
                        <ul class="bread-crumb clearfix">
                            <li><a href="{% url 'home_page' %}">Home</a></li>
                            <li class="active">Petitions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Events Section-->
    <section class="events-section-two load-more-section" data-load-number="2">
        <div class="auto-container">

            <div class="upper-info clearfix">
                <div class="items-label"><span>
                    
                    {% with total=counter %}
                            
                            

                    {{ total }} </span>  Live Petition{{ total|default:1|pluralize }}.</div>
                {% endwith %}                
            </div>
                {% if petitions %}
            <div class="row clearfix">
                {% for obj in petitions %}
                        {% if forloop.counter <= 6 %}
                            <div class="event-block-two col-md-6 col-sm-12 ">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="{% url 'LivePetitionsDetails_URL' obj.id %}"><img src="/media/{{ obj.Image }}" alt=""></a></figure>
                                    </div>
                                    <div class="lower-box">
                                        <div class="content-box">
                                            <div class="date-box"><div class="date"><span class="day">{{ obj.timestamp|date:"d" }}</span><span class="month">{{ obj.timestamp|date:"F" }}</span><span class="year">{{ obj.timestamp|date:"Y" }}</span></div></div>
                                            <div class="content">
                                                <div class="cat-info"><a href="{% url 'LivePetitionsDetails_URL' obj.id %}">{{ obj.Petition_Category }}</a></div>
                                                <h3><a href="#">{{ obj.Petition_Title }}</a></h3>
                                                <p style="font-size: small;">The Petition was Submitted to: {{ obj.Action_Person }}</p>
                                                <p style="font-size: small;">Submitted by: {{ obj.user.username }}</p>
                                                <p style="font-size: small; text-align:justify;">{{ obj.Expalnation|safe|truncatechars_html:50 }}</p>
                                                <p style="text-align: right; font-size:smaller;">Supported by: {{ obj.petition_signer_set.all.count }} Person</p>
                                                <div class="read-more"><a href="{% url 'LivePetitionsDetails_URL' obj.id %}">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        <div class="event-block-two col-md-6 load-more-item col-sm-12 ">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="{% url 'LivePetitionsDetails_URL' obj.id %}"><img src="/media/{{ obj.Image }}" alt=""></a></figure>
                                </div>
                                <div class="lower-box">
                                    <div class="content-box">
                                        <div class="date-box"><div class="date"><span class="day">{{ obj.timestamp|date:"d" }}</span><span class="month">{{ obj.timestamp|date:"F" }}</span><span class="year">{{ obj.timestamp|date:"Y" }}</span></div></div>
                                        <div class="content">
                                            <div class="cat-info"><a href="#">{{ obj.Petition_Category }}</a></div>
                                            <h3><a href="{% url 'LivePetitionsDetails_URL' obj.id %}">{{ obj.Petition_Title }}</a></h3>
                                            <p style="font-size: small;">The Petition was Submitted to: {{ obj.Action_Person }}</p>
                                            <p style="font-size: small;">Submitted by: {{ obj.user.username }}</p>
                                            <p style="font-size: small; text-align:justify;">{{ obj.Expalnation|safe|truncatechars_html:50 }}</p>
                                            <p style="text-align: right; font-size:smaller;">Supported by: {{ obj.petition_signer_set.all.count }} Person</p>
                                            <div class="read-more"><a href="{% url 'LivePetitionsDetails_URL' obj.id %}">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    
                {% endfor %}

            </div>
            {% endif %}

            <div class="load-more text-center">
                <a href="portfolio-grid-2.html" class="theme-btn btn-style-one load-more-btn"><span class="btn-title">Load More</span></a>
            </div>
                
        </div>
    </section>

    <!-- Main Footer -->
    <footer class="main-footer">
        
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Departments</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="links">
                                    <li><a href="#">Police and crime</a></li>
                                    <li><a href="#">Arts and culture</a></li>
                                    <li><a href="#">Transport and traffic</a></li>
                                    <li><a href="#">Housing and land</a></li>
                                    <li><a href="#">Education</a></li>
                                </ul>
                            </div>  
                        </div>
                    </div>
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Information</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="links">
                                    <li><a href="#">About city govt</a></li>
                                    <li><a href="#">Mayor’s profile</a></li>
                                    <li><a href="#">Highlights</a></li>
                                    <li><a href="#">Online services</a></li>
                                    <li><a href="#">About 311</a></li>
                                </ul>
                            </div>  
                        </div>
                    </div>
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget num-widget">
                            <div class="widget-title">
                                <h4>Emergency</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="num-links">
                                    <li><a href="#">Police <span class="hvr-info">Call: 977</span></a></li>
                                    <li><a href="#">Ambulance <span class="hvr-info">Call: 911</span></a></li>
                                    <li><a href="#">Fire Brigade <span class="hvr-info">Call: 922</span></a></li>
                                    <li><a href="#">Gas service <span class="hvr-info">Call: 111</span></a></li>
                                    <li><a href="#">Poison centre <span class="hvr-info">Call: 101</span></a></li>
                                </ul>
                            </div>  
                        </div>
                    </div>
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget about-widget">
                            <div class="logo">
                                <a href="#"><img src="images/footer-logo.png" alt=""></a>
                            </div>
                            <div class="address">
                                <h5>London city govt</h5>
                                <div class="text">46, The queen's walk <br>london 5241, UK</div>
                            </div>
                            <div class="address">
                                <h5>Opening hrs</h5>
                                <div class="text">10am to 6pm, Sun: Closed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner">
                    <div class="copyright">Copyrights <a href="#">&copy; 2020 london city govt.</a> All rights reserved.</div>
                    <ul class="social-links clearfix">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </footer>

<!--End pagewrapper-->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-up-arrow-angle"></span></div>

{% endblock %}