{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Voice It Out{% endblock %}

{% block content %}

    <!--Page Banner-->
    <section class="event-banner">
        <div class="image-layer" style="background-image:url({% static 'images/background/banner-image-7.jpg' %});"></div>

        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="cat-info clearfix">
                        <a href="{% url 'LivePetitionsDetails_URL' obj.id %}">{{ obj.Petition_Category }}</a>
                    </div>
                    <h1>{{ obj.Petition_Title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <!--Events Section-->
    <section class="event-details-section">
        <div class="auto-container">
            <div class="event-details">
                <div class="row clearfix">
                    <!--Content Column-->
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <div class="content-inner">
                            <!--Info-->
                            <div class="info-blocks">
                                <div class="row clearfix">
                                    <div class="info-block col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <div class="icon"><span class="flaticon-circular-clock"></span></div>
                                            <h4>Date & Time</h4>
                                            <ul>
                                                <li>{{ obj.timestamp|date:"F d,Y" }}</li>
                                                <li>{{ obj.timestamp|date:"l" }} at {{ obj.timestamp|date:"G:i" }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="info-block col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <div class="icon"><span class="flaticon-map"></span></div>
                                            <h4>Action Person</h4>
                                            <ul>
                                                <li>{{ obj.Action_Person }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="main-image">
                                <figure class="image"><img src="/media/{{ obj.Image }}" alt=""></figure>
                            </div>

                            <div class="text-block">
                                <h2>Overview</h2>
                                <p style="text-align: justify;">
                                {{ obj.Expalnation|safe }}
                                </p>
                            </div>


                            <div class="share-post">
                                <strong>Share this petition with your friends</strong>
                                <ul class="links clearfix">
                                    <li class="facebook"><a href="#"><span class="icon fab fa-facebook-f"></span><span class="txt">Facebook</span></a></li>
                                    <li class="twitter"><a href="#"><span class="icon fab fa-twitter"></span><span class="txt">Twiter</span></a></li>
                                    <li class="instagram"><a href="#"><span class="icon fab fa-instagram"></span><span class="txt">Instagram</span></a></li>
                                    <li class="whatsapp"><a href="#"><span class="icon fab fa-whatsapp"></span><span class="txt">Whatsapp</span></a></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <!--Info Column-->
                    <div class="info-column col-lg-4 col-md-12 col-sm-12">
                        <div class="info-inner">
                            <div class="title"><h4>Petition Details</h4></div>
                            <div class="content">
                                <div class="contact-box">
                                    <div class="info">
                                        <p>{{ obj.petition_signer_set.all.count }} have signed. Let’s get to 100!</p> 
                                        <div id="petition-meter">
                                            <div class="therm outer-therm" style="width:100%;height:15px;background-color:#dadada">
                                                <div class="therm inner-therm" style="background-color: rgb(98, 220, 184); height: 15px; width: {{ obj.petition_signer_set.all.count }}%;">
                                                    <span style="display:none;">{{ obj.petition_signer_set.all.count }}</span>
                                                </div>
                                            </div>
                                            {% if obj.petition_signer_set.all %}
                                                        
                                            <p style="font-size: smaller;">
                                                
                                                {% for comment in obj.petition_signer_set.all %}
                                                    <span class="font-weight-bold">{{ comment }}</span> signed {{ comment.timestamp|timesince }} ago
                                                    <br>
                                                {% endfor %}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="default-form booking-form">
                                        <form method="POST" action="{% url 'LivePetitionSignature_URL' obj.id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" name="Name" placeholder="Full Name *" required="" autocomplete="off">
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="email" name="Email" placeholder="Email Address *" required="" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <textarea name="Reason" placeholder="Reason for signing (Optional)" autocomplete="off"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="check" name="show_comment" value="Show My Comment">
                                                <label for="check"> Show My Comment</label>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Sign this Petition</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}