{% extends 'mysite/base.html' %}
{% load static getImageBanner social_share %}

{% block title %}

{% if blog_all_section %}
    Voice It Out | Blog {% if search_section %} Search {% endif %}
{% elif self_blogs %}
Voice It Out | User Blog {% if search_section %} Search {% endif %}
{% else %}
Voice It Out | Blog {% if search_section %} Search {% endif %}
{% endif %}
    {% endblock %}

{% block content %}

<!--Page Title-->
<section class="page-banner">
    
    
    {% if request.user|getImageBanner %}
        <div class="image-layer" style="background-image:url('/media/{{ request.user|getImageBanner }}');"></div>
    
    {% else %}
    <div class="image-layer" style="background-image:url('{% static 'mysite/images/background/banner-image-5.jpg' %}');"></div>
    {% endif %}

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Blogs</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home_page' %}">Home</a></li>
                        <li><a href="{% url 'blog' %}">Write A Blog</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                {% if search_section %}
                    {% if query %}
                        <div class="sec-title">
                            <h2>Search Results for "{{ query }}"</h2>
                        </div>
                    {% endif %}    
                {% endif %}    
                
                <div class="content-inner">
                    <div class="blog-posts">
                        <!--News Block Section-->
                        {% for blog in blogs %}
                        <div class="news-block-four">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/media/{{ blog.image }}" alt=""></figure>
                                    <div class="date"><span>{{ blog.created_at|timesince }}</span></div>
                                    <div class="hover-box">
                                        
                                        {% if self_blogs %}
                                            <div class="more-link mb-5"><a href="{% url 'blog_editing' blog.id %}">Edit</a></div>
                                        {% endif %}
                                        <div class="more-link"><a href="{% url 'detail' blog.slug %}">Read More</a></div>
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <div class="upper-info">
                                        <h2><a href="{% url 'detail' blog.slug %}">{{ blog.title|truncatechars:30 }}</a></h2>
                                        <div class="cat-info">
                                            <a href="#"><span class="fa fa-comment"></span>
                                                {% with total=blog.blogcomment_set.count %}
                                                {{ total }} Comment{{ total|default:1|pluralize }}
                                                {% endwith %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text">{{ blog.description|striptags|truncatechars:100 }}</div>
                                    <div class="meta-info clearfix">
                                        <div class="author-info clearfix">
                                            <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                            <div class="author-title">By {{ blog.author.username }}</div>
                                        </div>
                                        <div class="share-it">
                                            <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>
                                            <div class="share-list">
                                                <ul>
                                                    <li>{% post_to_facebook blog.get_absolute_url  '<span class="fab fa-facebook-f"></span>'  %}</li>
                                                    <li>{% post_to_twitter  blog.title blog.get_absolute_url  '<span class="fab fa-twitter"></span>'  %}</li>
                                                    <li>{% post_to_linkedin   blog.title blog.get_absolute_url  '<span class="fab fa-linkedin-in"></span>'  %}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End News Block Section -->
                    </div>
                    <!--Pagination-->
                    {% if blogs.has_other_pages %}
                        <div class="pagination-box text-center">
                                <ul class="styled-pagination">
                                {% if blogs.has_previous %}
                                    <li class="prev"><a href="?page={{ blogs.previous_page_number }}"><span class="icon flaticon-arrows-1"></span> Prev</a></li>
                                {% endif %}
                                {% for i in blogs.paginator.page_range %}
                                    {% if blogs.number == i %}
                                    <li class="active"><a href="?page={{ i }}" class="active">{{ i }}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if blogs.has_next %}
                                    <li class="next"><a href="?page={{ blogs.next_page_number }}">Next <span class="icon flaticon-right-2"></span></a></li>
                                {% endif %}
                                </ul>
                                

                        </div>
                    {% endif %}
                    <!-- End Pagination -->
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="bg-layer">
                        <div class="image-layer"
                            style="background-image:url('{% static 'mysite/images/background/sidebar-bg-image.jpg' %}');">
                        </div>
                    </div>

                    <div class="sidebar-widget search-box">
                        <div class="widget-inner">
                            <div class="sidebar-title">
                                <h4>Search</h4>
                            </div>
                            <form method="GET" action="{% url 'search' %}">

                                <div class="form-group">
                                    <input type="search" name="query" autocomplete="off" placeholder="Keyword..."
                                        value="{% if search_section %}{% if query %}{{ query }}{% endif %}{% endif %}">
                                    <button type="submit"><span class="icon flaticon-magnifying-glass"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="sidebar-widget cat-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h4>Self Blogs</h4>
                            </div>
                            <ul class="cat-links">
                                <li {% if blog_all_section %} class="current" {% endif %}><a href="{% url 'list' %}">All Blogs</a></li>
                                <li {% if self_blogs %} class="current" {% endif %}><a href="{% url 'self_blogs_url' %}">My Blogs</a></li>
                                {% if profile.golbal_Admin == "True" %}

                                    <li ><a href="{% url 'Assign' %}">Assign A Bog</a></li>
                                {% endif %}
                               
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </aside>
            </div>

        </div>
    </div>
</div>

{% endblock %}