{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Voice It Out | Write A  Blog {% if search_section %} Search {% endif %}{% endblock %}

{% block content %}


<div class="container mt-5 mb-5">
    
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          There is error in  {{ field.name }} &nbsp;&nbsp;&nbsp; <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
    <form method="POST" enctype='multipart/form-data' action="{% url 'blog_editing' obj.id %}">
        {% csrf_token %}
        
        <div class="card" style=" width: auto;">
                <div class="shadow p-3 bg-white rounded">

                    <div class="card-header text-center bg-transparent border-0">
                        <h3>
                               Blog
                        </h3>

                    </div>



                    <div class="card-body">
                           {% csrf_token %}
                            {{ form.media }}


                            {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                            
                            {% endfor %}

                           
                                       
                  
                            <input type="submit" class="btn btn-primary" value="Save">
    
                       
                    </div>
                </div>
            </div>
        </div>
     
      
       

    </form>
    <br>
    <br>

</div>



<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

<script src="{% static 'mysite/js/jquery.js' %}"></script>
<script>
    CKEDITOR.replace( 'editor1' );
</script>

<script>
    $(document).ready(function(){
        $('[name="title"]').addClass("form-control");
        $('[name="image"]').addClass("form-control");
        $('[name="video"]').addClass("form-control");
        $('[name="description"]').addClass("form-control");
        // $('[name="image-clear"]').addClass("form-control");
        $(".form-group").children("a").addClass("form-control");
    });
</script>

{% endblock %}

